@media(min-width: 1200px) and (max-width: 1299px){
	.site-nav-wrapper{
		padding: 0 20px;
	}
}

@media(min-width: 992px) and (max-width: 1199px){
	.site-nav-wrapper{
		padding: 0;
	}

	.vertical-heading h2{
		font-size: 29px;
	}

	#services-tabs .tab-bg{
		padding: 16px 30px;
		min-height: 400px;
	} 

	.service-tab p{
		line-height: 20px;
	}
}

@media(min-width: 768px) and (max-width: 991px){
	.site-nav-wrapper{
		padding: 0;
	}

	#home-heading h1{
		font-size: 41px;
	}

	#home-text p{
		font-size: 13px;
	}

	.btn-general{
		padding: 8px 35px;
		font-size: 10px;
	}

	.vertical-heading h2{
		font-size: 29px;
	}
}

@media(max-width: 767px){
	#home-heading h1{
		color: yellow;
	}
}